@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap');

body {
    font-family: "IBM Plex Sans";
    padding: 20px 40px;
}

h1 {
    margin-right: 20px;
}

.main, .layout {
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.main a {
    display: flex;
}

.layout {
    gap: 5em;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: darkblue;
}

.allTabs {
    font-size: 28px;
    font-weight: 700;
}

.task, .compactTask {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
    padding: 1em;
    animation: grow 1s ease-in-out;
}

.compactTask {
    grid-template-columns: 2fr 1fr;
}

.badge {
    margin: 0 0 5px 5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    animation: blink 1s ease-in-out;
}

.badge::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    animation: expand 1s ease-in-out;
    opacity: 0.5;
}

@keyframes grow {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 24px;
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.5);
        outline: 1px solid #ff4646;
        opacity: 0.5;
    }

    100% {
        transform: scale(1.3);
        outline: none;
        opacity: 0;
    }
}